{% include 'header.html' %}
{% load static %}

{% include 'nav.html' %}

{% include 'banner.html' %}
	
	
	<div id="page">
		
		
		<div id="content">
			<div class="box">
				<h2>
					A little to know about us.
				</h2>
				
				<p>
					<p>
						<b>• Operating in :-</b>As barcode scanners can be used in almost all industries such as electronics, manufacturing, pharmaceuticals, healthcare, logistics and retail. </p>
						<p>
						<b>• Key benefit:-</b> Our mission is to deliver the best possible results for storing the purchasing and retail data with fast retrieval to save time and manforce for the cause.
				</p>
			</div>
			<br class="clearfix" />
		</div>


		<div id="sidebar">
			<div class="box">
				<h3>Social Links</h3>
				<ul class="list">
					<li class="first"><a href="#">Facebook</a></li>
					<li><a href="#">Gmail</a></li>
					<li><a href="#">Instagram</a></li>
					<li><a href="#">LinkedIn</a></li>
					<li class="last"><a href="#">Twitter</a></li>
				</ul>
			</div>
		</div>

		<br class="clearfix" />
	</div>

{% include 'footer.html' %}
