<div id="page-bottom">
    <div id="page-bottom-content">
        <h3>About us</h3>
        <p>
            This is a mini project made by jayesh sancheti and jayesh gulani we are students of Medi-Caps university studying in third year. This software is solely made to keep data of inventory of any business products with information like its buying price, buying date , buying location and company name , selling price , margin etc.
        </p>
    </div>
    <div id="page-bottom-sidebar">
        <h3>Quick Links</h3>
        <ul class="list">
            <li class="first"><a href="#">Feedback</a></li>
            <li><a href="#">Service</a></li>
            <li class="last"><a href="#">Login</a></li>
        </ul>
    </div>
    <br class="clearfix" />
</div>
</div>
<div id="footer">
<h2>&copy; All rights reserved. Design by <a href="" rel="nofollow">J&J</a></h2>
</div>
</body>
</html>