{% include 'header.html' %}
{% load static %}

{% include 'nav.html' %}

{% include 'banner.html' %}
	
	
	<div id="page">
		
		
		<div id="content">
			<div class="box">
				<h2>Welcome To Product Barcode Generator</h2>
				<p>
					Welcome to JJ barcode scanner where efficiency meets precision. Our cutting-edge barcode scanners are revolutionizing the way businesses operate, from streamlining inventory management in retail With advanced features such as rapid scanning, seamless integration, and unparalleled accuracy, our scanners empower businesses to optimize their workflows and stay ahead of the competition. </p>
					
				</p>
			</div>
			<br class="clearfix" />
		</div>


		<div id="sidebar">
			<div class="box">
				<h3>Social Links</h3>
				<ul class="list">
					<li class="first"><a href="#">Facebook</a></li>
					<li><a href="#">Gmail</a></li>
					<li><a href="#">Instagram</a></li>
					<li><a href="#">LinkedIn</a></li>
					<li class="last"><a href="#">Twitter</a></li>
				</ul>
			</div>
		</div>

		<br class="clearfix" />
	</div>

{% include 'footer.html' %}
